
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Trade Center | optimizemegatrade</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
        <link rel="shortcut icon" type="image/x-icon" href="/dash/images/favicon.png">
        <!-- Bootstrap 4.0-->
        <link rel="stylesheet" href="/dash/css/bootstrap.css">
    
        <!-- Bootstrap-extend -->
        <link rel="stylesheet" href="/dash/css/bootstrap-extend.css">
    
        <!-- theme style -->
        <link rel="stylesheet" href="/dash/css/master_style.css">
        <link rel="stylesheet" href="/dash/css/new.css">
    
        <!-- Crypto_Admin skins -->
        <link rel="stylesheet" href="/dash/css/skins/_all-skins.css">
    
        <!-- File Upload Preview-->
        <link rel="stylesheet" href="/dash/css/bootstrap-imageupload.css">
    
        <link rel="stylesheet" href="/dash/css/font-awesome.css">
    
    
        <script src="//code.tidio.co/roqbsaxfngxjom6kbxkkgezq7svypyw8.js" async></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body class="hold-transition skin-red sidebar-mini fixed">
<div class="wrapper">

  <header class="main-header">
   
    <style>
     
  .float{
      position:fixed;
      width: 106px;
      height: 37px;
      bottom:19px;
      right:90px;
      background-color:#0C9;
      color:#FFF;
      border-radius:3px;
      text-align:center;
      /* box-shadow: 2px 2px 3px #999; */
      font-size: 16px;
      z-index: 7;

  }
  
  .my-float{
      margin-top:12px;
  }
  
  .float2{
    position: fixed;
    width: 106px;
    height: 37px;
    bottom: 19px;
    right: 200px;
    background-color: rgb(223, 111, 19);
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    /* box-shadow: 2px 2px 3px #999; */
    font-size: 16px;
    z-index: 7;
  }
  
  .my-float2{
      margin-top:12px;
  }
  </style>
  
    <!-- Code begins here -->
    
    <a href="/withdraw" class="float">

        <i class="fa fa-credit-card my-float"> Withdraw</i>
        </a>
    
        <a href="/deposit" class="float2">
    
            <i class="fa fa-home my-float2"> Deposit</i>
            </a>
   
    <!-- Logo -->
   <!-- <a href="/dashboard" class="logo">-->
      <!-- logo for regular state and mobile devices -->
   <!--   <span class="logo-lg">-->
		 <!--   <img src="images/logo-light-text.png" alt="logo" class="light-logo">-->
	  <!--	  <img src="images/logo-dark-text.png" alt="logo" class="dark-logo">-->
	  <!--</span>-->
   <!-- </a>                           -->
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="user user-menu" style="margin-right: 40px;">
            <a href="/dashboard" class="btn btn-success" style="margin-top: 15px;">
              TRADING SESSION
            </a>
          </li>

		      <!-- User Account -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/dash/images/user.png" class="user-image rounded-circle" alt="User Image">
            </a>
            <ul class="dropdown-menu scale-up">
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row no-gutters">
                  <div class="col-12">
                    <a href="/profile"><i class="ion ion-person"></i> My Profile</a>
                  </div>
                  <div class="col-12">
                    <a href=""><i class="fa fa-lock"></i> Change Password</a>
                  </div>
				          <div class="col-12">
                    <a href="/logout"><i class="icon-logout"></i> Logout</a>
                  </div>				
                </div>
                <!-- /.row -->
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
  <!--  <style>-->
     
  <!--.float{-->
  <!--    position:fixed;-->
  <!--    width: 106px;-->
  <!--    height: 37px;-->
  <!--    bottom:19px;-->
  <!--    right:40px;-->
  <!--    background-color:#0C9;-->
  <!--    color:#FFF;-->
  <!--    border-radius:3px;-->
  <!--    text-align:center;-->
     
  <!--    font-size: 16px;-->
  <!--    z-index: 7;-->

  <!--}-->
  
  <!--.my-float{-->
  <!--    margin-top:12px;-->
  <!--}-->
  
  <!--.float2{-->
  <!--  position: fixed;-->
  <!--  width: 106px;-->
  <!--  height: 37px;-->
  <!--  bottom: 19px;-->
  <!--  right: 164px;-->
  <!--  background-color: rgb(223, 111, 19);-->
  <!--  color: #ffffff;-->
  <!--  border-radius: 3px;-->
  <!--  text-align: center;-->
   
  <!--  font-size: 16px;-->
  <!--  z-index: 7;-->
  <!--}-->
  
  <!--.my-float2{-->
  <!--    margin-top:12px;-->
  <!--}-->
  <!--</style>-->
  
  <!-- Code begins here -->
    
  <!--  <a href="#" class="float">-->

  <!--      <i class="fa fa-credit-card my-float"> Withdraw</i>-->
  <!--      </a>-->
    
  <!--      <a href="#" class="float2">-->
    
  <!--          <i class="fa fa-home my-float2"> Deposit</i>-->
  <!--          </a>-->
    
    <!-- sidebar -->
    
    
    
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
    		<div class="ulogo">
    			 <a href="/dashboard">
    			  <!-- logo for regular state and mobile devices -->
    			  <span><b>optimizemegatrade</span>
    			</a>
    		</div>
       
        <div class="info">
            <style>
  .profile-pic{
    background: darkseagreen;
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    -webkit-box-shadow: 0 3px 5px rgb(54 60 241);
    box-shadow: 0 3px 5px rgb(54 60 241);
  }
</style>
<center>
<div class="profile-pic">PA</div>          <p style="color:white;"><%=user.fullName%><br>
  <%=user.email%></p></center>
        </div>
      </div>
      <!-- sidebar menu -->
      <ul class="sidebar-menu" data-widget="tree">
		<li class="nav-devider"></li>
        <li class="">
          <a href="/dashboard">
            <i class="fa fa-bar-chart"></i> <span>Trade Center</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
        <li class="">
          <a href="kyc.php">
            <i class="fa fa-id-card"></i> <span>KYC Verification</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
        
        
        <li class="">
          <!--<a href="trading-history.php">-->
          <!--  <i class="fa fa-line-chart" aria-hidden="true"></i> <span>Trading History</span>-->
          <!--  <span class="pull-right-container">-->
          <!--    <i class="fa fa-angle-right pull-right"></i>-->
          <!--  </span>-->
          <!--</a>-->
        </li> 
        <li class="">
          <a href="/profile">
            <i class="fa fa-user"></i> <span>Profile</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
        <li class="active">
          <a href="investment-plans.php">
            <i class="mdi mdi-arrow-up"></i> <span>Investment Plans</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
        <li class="">
          <a href="">
            <i class="fa fa-lock"></i> <span>Change Password</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="icon-logout"></i> <span>Logout</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Our Plans
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">Our Plans</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
      <div class="col-sm-12">
                </div>
    </div>  

      <div class="row">
        <div class="col-md-12"><h6>Upgrade your trading account to a level that best fits your trading experience and have access to several trading benefits. <br>Your active plan is <span class="lable label-danger">
        Starter</span></h6><br></div>
            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-info bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">Starter</h5>
                  <br>

                  <hr>

                  <p><strong>Weekly 200% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>


                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-info" data-toggle="modal" data-target="#starter"> Choose this </button>
                  <!-- Modal -->
                    <div class="modal fade text-left" id="starter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="myModalLabel1">Deposit (Starter Plan)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-warning bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">Silver</h5>
                  <br>

                  <hr>

                  <p><strong>Weekly 200% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>
   

                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-warning" data-toggle="modal" data-target="#silver"> Choose this </button>
                  <!-- Modal -->
                    <div class="modal fade text-left" id="silver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="myModalLabel1">Deposit (Silver Plan)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-danger bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">Gold</h5>
                  <br>
                  <hr>

                  <p><strong>Weekly 250% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>
                

                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-danger" data-toggle="modal" data-target="#gold"> Choose this </button>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="gold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel1">Deposit (Gold Plan)</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-success bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">Platinum</h5>
                  <br>

                  <hr>

                  <p><strong>Weekly 400% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>
           

                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-success" data-toggle="modal" data-target="#platinum"> Choose this </button>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="platinum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel1">Deposit (Platinum Plan)</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-info bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">High Voltage</h5>
                  <br>
                  <hr>

                  <p><strong>Weekly 300% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>
           

                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-info" data-toggle="modal" data-target="#high-voltage"> Choose this </button>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="high-voltage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel1">Deposit (High Voltage Plan)</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-warning bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">Super</h5>
                  <br>
                  <hr>

                  <p><strong>Weekly 350% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>
      
                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-warning" data-toggle="modal" data-target="#super"> Choose this </button>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="super" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel1">Deposit (Super Plan)</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="box text-center p-30 box-outline-danger bg-hexagons-dark">
                <div class="box-body" style="padding: 0;">
                  <h5 class="text-uppercase">RexCoins</h5>
                  <br>
                  <hr>

                  <p><strong>Weekly 20% ROI</strong></p>
                  <p><strong>Professional Charts</strong></p>
                  <p><strong>Trading Alerts</strong></p>
  

                  <br><br>
                  <button type="button" class="btn btn-bold btn-block btn-danger" data-toggle="modal" data-target="#rexcoins"> Choose this </button>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="rexcoins" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel1">Deposit (RexCoins Plan)</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>To upgrade your optimizemegatrade trading account to a higher level, please contact our Live Chat agent to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you with the account upgrade.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-lg bg-yellow-active" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
      <!-- /.row -->

  </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<footer class="main-footer">
   Copyright &copy; 2012 - 2023 <a href="#"> optimizemegatrade</a>. All Rights Reserved.
</footer>
  
</div>
<!-- ./wrapper -->
	  
		  
	
    <!-- jQuery 3 -->
    <script src="/dash/js/jquery.js"></script>

    <!-- popper -->
    <script src="/dash/js/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="/dash/js/bootstrap.js"></script>

    <!-- Slimscroll -->
    <script src="/dash/js/jquery.slimscroll.js"></script>

    <!-- This is data table -->
    <script src="/dash/js/jquery.dataTables.min.js"></script>

    <!-- Crypto_Admin App -->
    <script src="/dash/js/template.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- Crypto_Admin /dash demo (This is only for demo purposes) -->
    <script src="/dash/js/pages//dash.js"></script>

    <!-- Crypto_Admin for demo purposes -->
    <script src="/dash/js/demo.js"></script>

    <!-- Crypto_Admin for Data Table -->
    <script src="/dash/js/pages/data-table.js"></script>
	
	<!--chats modifications-->	
	
	<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+1 (762) 769-0571", // WhatsApp number
            call_to_action: "", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>



<script><script src="//code.tidio.co/roqbsaxfngxjom6kbxkkgezq7svypyw8.js" async></script></script>

</body>
</html>