<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="nosnippet">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | Stockexchangecryptomanagement.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="asset/images/favicon.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="assests/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assests/css/font-awesome.min.css">
    <link rel="stylesheet" href="assests/css/themify-icons.css">

    <link rel="stylesheet" href="assests/css/metisMenu.css">
    <link rel="stylesheet" href="assests/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assests/css/slicknav.min.css">
    <!-- others css -->
    <link rel="stylesheet" href="assests/css/typography.css">
    <link rel="stylesheet" href="assests/css/default-css.css">
    <link rel="stylesheet" href="assests/css/styles.css">
    <link rel="stylesheet" href="assests/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="assests/css/themify-icons.css">
    <!-- modernizr css -->
    <script src="assests/js/vendor/modernizr-2.8.3.min.js"></script>


    



</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST" action="/login">
                    <div class="login-form-head">
                        <img src="dash/images/dot4.png"></img><br>

                        <br>

                        <h4>Account Login</h4>
                        <p>Welcome back! Log In with your Email to start Trading</p>
                    </div>


                    <input type="hidden" name="csrf_token" value="918010f0a68fd5189b86f8ab71b14e9d">
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="email">Email address</label>
                            <input name="email" type="email" id="email">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="form-gp">
                            <label for="password">Password</label>
                            <input name="password" type="password" id="password">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember
                                        Me</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <!--<a href="#">Forgot Password?</a>-->
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" style="background: #ff880e; font-size: 15px; color: #FFF;"
                                type="submit" name="login">Submit <i class="fa fa-angle-double-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted"><a href="/forgot-password">Forgot Password?</a></p>
                            <p class="text-muted">Don't have an account? <a href="/register">Sign up</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="assests/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assests/js/popper.min.js"></script>
    <script src="assests/js/bootstrap.min.js"></script>
    <script src="assests/js/owl.carousel.min.js"></script>
    <script src="assests/js/metisMenu.min.js"></script>
    <script src="assests/js/jquery.slimscroll.min.js"></script>
    <script src="assests/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="assests/js/plugins.js"></script>
    <script src="assests/js/scripts.js"></script>
    <!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->
<script src="//code.tidio.co/ffvnkhjwfvnkogsa1gzbmg53nv0vgst2.js" async></script>


</body>

</html>